# Secrets
.env

# Model weights
Weights/

# Python
__pycache__/
*.py[codz]
*$py.class

# Virtual environments
.venv
env/
venv/
ENV/

# Testing / cache
.pytest_cache/
.mypy_cache/
.coverage
.coverage.*
htmlcov/

# IDEs
.vscode/
.idea/

# Mac
.DS_Store

# Jupyter
.ipynb_checkpoints/

# Build / dist
build/
dist/
*.egg-info/

# Logs
*.log